.contact {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;

  .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 0 16px;

    div {
      position: absolute;
      right: 2px;
      bottom: 2px;
      width: 8px;
      height: 8px;
      background: aquamarine;
      border-radius: 50%;
    }
  }

  .information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 16px;

    .name {
      color: #000000;
    }

    .company {
      color: #CDC9C9;
    }
  }

  .message {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin-right: 16px;

    .count {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #CDC9C9;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}