.contactList {
  position: fixed;
  right: 10px;
  bottom: 40px;
  width:  250px;
  height: 600px;
  border-radius: 8px;
  background: #3D3D3D;
  border: 1px solid black;
  display: flex;
  flex-direction: column;

  .top {
    width: 250px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid black;
  }
}