
.master {
  align-items: center;
  justify-content: flex-end;
  width: 500px;
  //height: 56px;
  margin: 10px 0 10px 0 ;
  display: flex;

  div {
    max-width: 58%;
    height: auto ;
    overflow: hidden ;
    border-radius: 6px;
    background: #B0E2FF;
    flex-direction: column;
    margin-right: 16px;
    word-wrap: break-word; 
    word-break: normal; 
    word-break:break-all;
  }
}


.guest {
  align-items: center;
  justify-content: flex-start;
  width: 500px;
  //height: 56px;
  margin: 5px 0 5px 0 ;
  display: flex;

  div {
    max-width: 60%;
    height: auto ;
    overflow: hidden ;
    border-radius: 6px;
    background: #DEDEDE;
    flex-direction: column;
    margin-left: 16px;
    word-wrap: break-word; 
    word-break:break-all;
  
  }
}

.message {
  font-size: 14px;
  align-self: center;
  color: black;
}

.time {
  font-size: 10px;
  align-self: flex-end;
  color: #B0B0B0;
  float: right;
}